[submodule "Neovim/Config/nvim"]
	path = Neovim/Config/nvim
	url = https://github.com/farawayisland/my-kickstart.nvim.git
[submodule "Emacs/Config/emacs"]
	path = Emacs/Config/emacs
	url = https://github.com/farawayisland/my-minimal-emacs.d.git
